  {% load static %}
<!DOCTYPE html>
<html>
<head>
		<title>URL Shortener</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "icon" href = "/static/admin/imgs/logo.jpg"
        type = "image/x-icon"> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  {% load static %}
  <link rel = "icon" href = "{% static '/imgs/url.jpg' %}"
        type = "image/x-icon">
  <script>
    function myFunction() {
  var copyText = document.getElementById("myInput");

  copyText.select();
  copyText.setSelectionRange(0, 99999); 
  document.execCommand("copy");
  alert("URL Copied.");
} 
  </script>
   <meta property="og:title" content="URL shortener" />  
   <!--meta property="og:image" content="" />  
   <meta property="og:url" content="{{path}}" /--> 

  <!--link rel = "icon" href = ""
        type = "image/x-icon"-->     
</head>
<body style="overflow-x: hidden;">
  
  <div class="row">
    <div class="col col-sm-3">
      <!--img src="https://raw.githubusercontent.com/NaNdalal-dev/Covid/main/Covid/static/imgs/covid.jpg" class="img"-->
    </div>
  </div>
{% block content %}

{% endblock %}

</body>
</html>